*{
    padding: 0;
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    box-sizing: border-box;
}
body{
    line-height: 1.5;
}

.container{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(images/BG1.png);
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    justify-items: center;
}
.container-2{
    position: relative;
    width: 100%;
    height: 100vh;
    background-color: rgb(209, 255, 101);
    align-items: center;
    justify-items: center;
}
.gameSpace{
    height: 100vh;
}
canvas{
    align-items: center;
    justify-items: center;
}
.navbar{
    height: 18%;
    display: flex;
    align-items: center;
    margin-right: 100px;
}
.logo{
    width: 200px;
    cursor: pointer;
    padding-left: 50px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}

nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    position: relative;
    padding-bottom: 5px;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    transition: width 0.3s;
}
nav ul li a:hover::after{
    width: 80%;
    border-radius: 50px;
}
.note{
    margin-top: 150px;
}
.note h1,p{
    text-align: center;
}
.note h1{
    font-size: 85px;
    color: rgb(87, 55, 15);
}
.note p{
    color: rgb(255, 84, 147);
    font-size: 22px;
    margin-bottom: 5px;
    margin-top: 30px;
    font-weight: 500;
}
.gameSpace{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Button */
.button{
    display: flex;
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    text-decoration: none;
    margin-top: 70px;
    cursor: pointer;
    animation: bounce 1s infinite;
}
.button .smallbutton{
    padding: 1.25em 2em;
    border: 2px solid#492a15;
    border-radius: 0.75em;
    font-weight: 700;
    color: #492a15;
    text-transform: uppercase;
    background: #efffe2;
    transform-style: preserve-3d;
    transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}
.button .smallbutton::before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: #e5fcc5;
    box-shadow: 0 0 0 2px #492a15, 0 0.625em 0px 7px #e8ffe2, 0 0.625em 10px 7px #f0f8ee;
    transform: translate3d(0, 0.75em, -1em);
    transition: 0.15s cubic-bezier(0, 0, 0.6, 1);
}

.button .smallbutton:hover{
    background: #e3fad8;
    transform: translate(0, 0.25em);
    cursor: pointer;
}
.button .smallbutton:hover::before{
    box-shadow: 0 0 0 2px #492a15, 0 0.5em 0 7px #ecffe8, 0 0.625em 10px 7px #f8eeee;
    transform: translate3d(0, 0.5em, -1em);
}
.button .smallbutton:active{
    background: #c8fdb0;
    transform: translate(0, 0.75em);
}
.button .smallbutton:hover::after{
    box-shadow: 0 0 0 2px #492a15, 0 0 #e9ffe2;
    transform: translate(0, 0, -1em);
}

/* Footer */
.footer{
    background-color: #2f1b0e;
    padding: 50px 0;
}
.container3{
    max-width: 1100px;
    margin: auto;
}
ul{
    list-style: none;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.footer-col{
    width: 25%;
    padding: 0 20px;
}
.footer-col h4{
    font-size: 18px;
    color: white;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 700;
    position: relative;
}
.footer-col h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: #c3ff6f;
    height: 2.5px;
    box-sizing: border-box;
    width: 70px;
    border-radius: 10px;
}
.footer-col h5{
    font-size: 25px;
    color: white;
    text-transform: capitalize;
    font-weight: 700;
}
.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-col ul li a{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
}
.footer-col ul li a:hover{
    color: rgb(248, 217, 159);
    padding-left: 8px;
}
.footer-col ul,li{
    font-size: 16px;
    text-transform: capitalize;
    color: white;
    text-decoration: none;
    font-weight: 300;
    display: block;
    transition: all 0.3s ease;
    text-align: justify;
}
@media screen and (max-width: 1085px){
    canvas{
        width: 900px;
    }
    .gameSpace{
        height: 100vh;
    }
    .container-2{
        height: 100vh;
    }
}
@media screen and (max-width: 967px){
    canvas{
        width: 700px;
    }
    .gameSpace{
        height: 70vh;
    }
    .container-2{
        height: 70vh;
    }
}
@media screen and (max-width: 770px){
    canvas{
        width: 400px;
    }
    .gameSpace{
        height: 50vh;
    }
    .container-2{
        height: 50vh;
    }
}
@media screen and (max-width: 767px) {
    .container-2{
        height: 48vh;
    }
    .footer-col{
        width: 50%;
        margin-bottom: 30px;
    }
    .note h1{
        font-size: 50px;
    }
    .logo{
        width: 150px;
    }
}
@media screen and (max-width: 574px) {
    .footer-col{
        width: 100%;
    }
    .container-2{
        height: 48vh;
    }
}